* {
  box-sizing: border-box;
}

body {
  color: aquamarine;
  background-image: url(https://user-images.githubusercontent.com/99718218/155300585-de0af9ad-70c3-44ad-a4fc-e3b59992cfc6.jpg);
  background-attachment: fixed;
}

header {
  text-align: center;
}

.nav-top-sticky {
  position: sticky;
  top: 0px;
  background-image: none;
}

h1 {
  font-size: 50px;
  text-align: center;
  width: 1653px;
  color: aqua;
  padding: 180px 20px;
  margin: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: none;
  background-image: url(https://user-images.githubusercontent.com/99718218/155332278-7b1511a0-40d7-4446-a1e7-a980b3adfd90.JPG);
}

.introduction {
  text-align: center;
  font-size: 120%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: none;
}

.nav-link {
  color: darkkhaki;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link:hover {
  color: aquamarine;
}

.nav-link:active {
  color: red;
}

.placeholder-logo {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100px;
  height: 90px;
  margin: 50px;
  background-image: url(https://user-images.githubusercontent.com/99718218/155729380-9c7cb529-9ab6-443b-ab81-3b196ec80316.jpg);
  background-size: 100px;
  opacity: 0.5;
}

.sunbmit-request-window {
  direction: ltr;
  width: 230px;
  height: 400px;
  padding: 20px;
  margin: 50px;
  margin-left: 250px;
  margin-top: 200px;
  font-size: 150%;
  background-image: url(https://user-images.githubusercontent.com/99718218/155739139-887ae755-7767-47ed-9cd3-9725e458d05f.JPG);
  background-size: cover;
  border: 10px;
  border-color: rgb(216, 177, 177);
  border-radius: 10px;
}

.submit-request {
  margin: 30px;
  margin-top: 50px;
}
