* {
  box-sizing: border-box;
}

body {
  color: aquamarine;
  background-image: url(https://user-images.githubusercontent.com/99718218/155993028-d7cff91c-d856-4130-b4bf-375686ce5492.jpg);
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(https://user-images.githubusercontent.com/99718218/155993054-7deb1afd-d773-40e0-b7ad-8dc6bcb9dba1.jpg);
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(https://user-images.githubusercontent.com/99718218/155300585-de0af9ad-70c3-44ad-a4fc-e3b59992cfc6.jpg);
  }
}

header {
  text-align: center;
}

.nav-top-sticky {
  text-align: center;
  position: sticky;
  top: 0px;
}

@media screen and (max-width: 767px) {
  .nav-top-sticky {
    position: static;
    background-color: black;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.5rem solid blue;
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
  width: 90%;
  color: aqua;
  padding: 9.5rem 1.25rem;
  margin: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-image: url(https://user-images.githubusercontent.com/99718218/155332278-7b1511a0-40d7-4446-a1e7-a980b3adfd90.JPG);
  border: 0.6rem;
  border-radius: 1.25rem;
}

button:hover {
  cursor: pointer;
}

.introduction {
  text-align: center;
  font-size: 120%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.nav-link {
  color: darkkhaki;
  background-color: rgba(13, 13, 104, 0.459);
  border-radius: 0.5rem;
  padding: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.nav-link:hover {
  color: aquamarine;
}

.nav-link:active {
  color: red;
}

.placeholder-logo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 6.25rem;
  height: 5rem;
  margin: 3.125rem;
  background-image: url(https://user-images.githubusercontent.com/99718218/155729380-9c7cb529-9ab6-443b-ab81-3b196ec80316.jpg);
  background-size: 6.25rem;
  opacity: 0.5;
}

.interaction-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interaction-window-order {
  color: rgb(190, 183, 182);
  font-weight: bold;
  font-style: oblique;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  width: 14rem;
  height: 25rem;
  padding: 1.25rem;
  margin: 3.25rem;
  margin-left: 2rem;
  margin-top: 5rem;
  font-size: 1.5rem;
  background-image: url(https://user-images.githubusercontent.com/99718218/156179188-ef0fad95-6ca9-4e8c-bd28-89aabb135f98.jpg);
  background-size: cover;
  border: 0.625rem inset rgba(119, 118, 118, 0.568);
  border-bottom-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.interaction-window-apply {
  color: rgb(190, 183, 182);
  font-weight: bold;
  font-style: oblique;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  width: 14rem;
  height: 25rem;
  padding: 1.25rem;
  margin: 3.25rem;
  margin-left: 2rem;
  margin-top: 5rem;
  font-size: 1.5rem;
  background-image: url(https://user-images.githubusercontent.com/99718218/156180487-7453a57d-193f-41f5-bb57-50fd9a03f5c9.jpg);
  background-size: cover;
  border: 0.625rem inset rgba(119, 118, 118, 0.568);
  border-bottom-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.interaction-window-discord {
  color: rgb(190, 183, 182);
  font-weight: bold;
  font-style: oblique;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  width: 14rem;
  height: 25rem;
  padding: 1.25rem;
  margin: 3.25rem;
  margin-left: 2rem;
  margin-top: 5rem;
  font-size: 1.5rem;
  background-image: url(https://user-images.githubusercontent.com/99718218/156180704-4a6a423b-9bf9-4682-b56e-8b6e42016af9.jpg);
  background-size: cover;
  border: 0.625rem inset rgba(119, 118, 118, 0.568);
  border-bottom-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.interaction-window-login {
  color: rgb(190, 183, 182);
  font-weight: bold;
  font-style: oblique;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  width: 14rem;
  height: 25rem;
  padding: 1.25rem;
  margin: 3.25rem;
  margin-left: 2rem;
  margin-top: 5rem;
  font-size: 1.5rem;
  background-image: url(https://user-images.githubusercontent.com/99718218/156182948-ec4beb7e-8d23-4763-bc77-fefd504ed9b5.jpg);
  background-size: cover;
  border: 0.625rem inset rgba(119, 118, 118, 0.568);
  border-bottom-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.flex {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.interaction-window-button {
  width: 8rem;
  height: 3rem;
  color: darkkhaki;
  background-color: rgb(51, 51, 51);
  background-position-x: center;
  margin-top: 2rem;
  margin-left: 1.3rem;
  border: 0.25rem solid rgb(145, 140, 139);
  border-radius: 0.5rem;
}
