* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: aqua;
  width: 300;
  border: 10px solid blueviolet;
  padding: 20px;
  margin: 20px;
}

* {
  background-color: black;
}

body {
  color: aquamarine;
}

.holder {
  color: black;
}

.introduction {
  text-align: center;
}
